
.stemmy{
    position: absolute;
    bottom: -50px;
    transform: scale(2) rotate(180deg);
    right: 0;
    z-index: 0;
}


@media screen and (min-width: 578px){
    .stemmy{
        transform: scale(3.5);
        right: auto;
    }
}

@media screen and (min-width: 978px){
    .stemmy{
        transform: scale(5)
    }
}