.unavailable-form-wrapper{
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @media screen and (min-width: 780px){
        justify-content: flex-start;
        align-items: flex-start;
    }


    h3{
        font-size: 2rem;
        color: #FB604E !important;
        font-family: 'Montserrat', sans-serif;
    }

    form{
        position: relative;
        width:  100%;
        display: flex; 
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 780px){
            align-items: flex-start;
        }
        input{
            //border-radius: 5px;
            height: 2rem;
            //background: rgb(160, 214, 160);
            border: 0;
            border-bottom: 2px solid green;
            border-left: none;
            border-right: none;
            color: rgb(80, 80, 80) !important;
            font-size: 1.2rem;
            margin-top: 10px;

            &::placeholder{
                color: #1a1a1a !important;
            }
        }

        .submit-success{
            position: absolute;
            top: 80%;
            a {
                color: #FB604E;
                &:hover{
                    color: #8A120F;
                }
            }
        }
    }

    .form-submit{
        display: block;
    }
}