

.about-content{
    width: 100%;
    //max-width: 120ch;
    //margin: 0 auto;
    max-width: 90ch;


    p{
        margin: 1em 0;
    }
}

.about-img{
    width: 100%;
    //max-width: 600px;
    margin: 3em auto;
}



