
.about-story{

    .top-about-nav-container{
        margin-bottom: 5%;

        .about-title{
            line-height: 1;
            margin-bottom: 2px;
        }

        .mission-page-scroll{
            border-bottom: 2px solid #8A120F;
            color: #8A120F;
            margin-bottom: 3rem;

            &:hover{
                color: #FB604E;
            }
        }
    }
    

    .article-padding{
        padding: 0 1em 0 0;
    }

    .about-mid-img{
        margin: 3rem 0;
    }
}
