
 .top-banner-grid{
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-template-rows: 65px 150px auto 80px auto;
    width: 100%;
    justify-content: center;
    margin-bottom: 30%;
    height: auto;
    position: relative;

    @media screen and (min-width: 678px){
        grid-template-columns: 1fr 10% 1fr;
        grid-template-rows: 6.25em 80px 25%;
    }

    .landing-heading{
        grid-column: 1 / 6;
        grid-row: 1 / 2;
        height: auto;

        h1{
            line-height: 1;
            font-weight: 700;
            height: auto;
        }

        @media screen and (min-width: 678px){
            grid-column: 1 / 3;

            h1{
                font-size: 2.25rem;
            }
        }

        @media screen and (min-width: 1024px){
            h1{
                font-size: 2.75rem;
            }
        }
    }

    .top-banner-image{
        grid-column: 1 / 6;
        grid-row: 2 / 4;
        width: 100%;
        margin-top: 5%;


        @media screen and (min-width: 468px){
            grid-column: 2 / 5;
        }

        @media screen and (min-width: 678px){
            margin-top: 0;
            grid-column: 3 / 4;
            grid-row: 1 / 4;
        }
    }

    .landing-subheading{
        grid-column: 1 / 6;
        grid-row: 4 / 5;
        position: relative;
        display: inline-block;
        width: 85%;
        align-self: center;
        justify-self: center;
        
        @media screen and (min-width: 678px){
            justify-self: start;
            align-self: start;
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }
    }

    .landing-btn{
        grid-column: 1 / 6;
        grid-row: 5 / 6;
        justify-self: center;
        align-self: start;

        @media screen and (min-width: 678px){
            grid-column: 1 / 2;
            grid-row: 3 / 4;
            justify-self: start;
            align-self: flex-start;
        }
        
    }
 }


.section-home-container{
    width: 100%;
    display: flex;
    justify-content: center;

           .mid-section-grid{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-bottom: 10%;

                @media screen and (min-width: 980px){
                    display: grid;
                    grid-template-columns: repeat(8, 1fr);
                    grid-template-rows: repeat(5, auto);
                    gap: 1em;
                }

                .content h2{
                    margin-bottom: 0.5714em;
                }

               .content-1{
                   grid-column: 1 / 5;
                //    grid-column: 5 / 9;
                   grid-row: 1 / 4;
                   align-self: start;
               }

               .content-2{
                   margin-top: 10%;
                   grid-column: 1 / 5;
                //    grid-column: 5 / 9;
                   grid-row: 4 / 6;

                   @media screen and (max-width: 980px){
                      margin-top: 0;
                   }

                   button{
                       margin-top: 3rem;
                   }
               }

               .mid-section-img{
                   width: 100%;
                   align-self: center;
               // align-self: start;
                   flex-grow: 1;
                   margin-bottom: 1em;
                   max-width: 500px;
                   position: relative;

                   @media screen and (min-width: 980px){
                        width: auto;
                        grid-column: 5 / 9;
                        // grid-column: 1 / 5;
                        grid-row: 1 / 6;
                   }
               }
           }
        
    .blog-preview-list{
        margin-bottom: 12%;
        display: flex; 
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .blog-roll-title{
            color: #FB604E !important;
            text-align: center;
            font-size: 2rem !important;
            margin-bottom: 1em;
        }
        .blog-link{
            margin: 3em auto 0 auto;
        }
    }

    .bottom-content{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;


        .bottom-section-img{
            position: relative;
            width: 150%;

            @media screen and (min-width: 678px){
                width: 100%;
            }
            
            .bottom-section-header{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                z-index: 10;
                background: #FB604E;
                color: white !important;
                padding: 1em 2em;
            }

        }

        .bottom-section-description{
            max-width: 800px;
            margin-top: 3rem;
        }
    }
   
}



