.cart-main{
    text-align: center;
    min-height: 25vh;

    .cart-title{
        font-size: 2.25em;
        line-height: 1;
        margin-bottom: 5%;

        @media screen and (min-width: 678px){
            font-size: 2.75rem;
        }
    }

    .continue-shop-link{
        color: #8A120F;
        border-bottom: 2px solid #8A120F;

        &:hover{
            color: #FB604E;
        }
    }

    .has-cart-item{
        border-top: 1px solid #8A120F;
        padding-top: 2%;

        .cart-item-display{
            height: 250px;
            border-bottom: 1px solid #8A120F;
            display: flex;
            margin-bottom: 2%;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
    
            @media screen and (min-width: 678px){
                flex-direction: row;
            }
    
            .product-name-pic{
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
    
                @media screen and (min-width: 678px){
                    flex-direction: row-reverse;
                }
    
                .product-name{
                    font-size: 2rem ;
        
                    @media screen and (max-width: 980px){
                        font-size: 1.5rem;
                    }
                }
                .product-image{
                    width: 250px;
                }
            }
          
    
            .product-info{
                text-align: left;
                width: 50%;
                display: flex;
                justify-content: flex-end;

                .product-quantity{
                    margin-right: 4em;
                }
    
                @media screen and (max-width: 678px){
                    justify-content: space-between;
                }
            }
           
        }

        .cart-total{
            text-align: right;

            @media screen and (max-width: 678px){
                text-align: center;
            }
            p{
                font-size: 1.75rem !important;
            }
        }
    }
    


}