.product-roll-wrapper{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1em;

    .product-preview-wrap{
            height: 100%;
            border-radius: 4px;
            box-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.25);
            background: rgba(114, 140, 91, 0.1);
            // border-right: 2px solid black;

            // &:nth-child(3n), &:last-of-type{
            //     border-right: none;
            // }

        .product-list{
            padding: 1rem;
            background: transparent;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            height: 100%;
          

            .product-header{
                display: flex;
                flex-direction: column;
                width: 100%;
                }
                .post-meta{
                    display: flex;
                    justify-content: space-between;
                
                    
                    .product-title{
                        color: #FB604E !important;
                        line-height: 1.2;
                        margin-bottom: 5px;

                        &:hover{
                            color: #8A120F !important;
                        }
                    }

                    .product-price{
                        text-align: right;
                        width: 60px;
                        font-size: 1.2rem;
                        line-height: 1.25;

                    }

                }
            }

            .featured-thumbnail{
                width: 100%; 
                margin: 0;
               

            .button{
                color: #8A120F;
                background: transparent;
                border-radius: 0;
                border: none;

                &:hover{
                    color: #FB604E;
                }
            }
        }
    }
}