.pricing-container{
    padding: 0;
    text-align: center;

    h2{
        font-size: 2em;
    }

    @media screen and (min-width: 780px){
        text-align: left;
    }

    .variant-section{
        display: flex;
        padding: 5% 0;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (min-width: 780px){
            justify-content: flex-start;
        }
        
        .variant-option{
            margin: 0 20px 0 0;
            button{

                padding: 10px 20px;
                background: rgb(219, 219, 219);
                box-shadow: none;
                border: 1px solid #674B42;
                margin: 0;
                transition: none;


                .variant-name{
                    color: #674B42;
                }
            }

            .variant-selected{
                background: #FB604E;
                .variant-name{
                    color: white;
                }
            }
        }
    }

    .variant-price-section{
        margin-bottom: 10px;
        h2{
            font-size: 2rem;
            color: #8A120F !important;
        }
    }

    .add-product-form{
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 780px){
            align-items: flex-start;
        }

        .item-quantity{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            justify-content: space-between;
            width: 150px;

            label{
                color: #674B42;
                font-weight: bold;
                font-size: 1.2rem;
            }
    
            input[type="number"]{
                color: #674B42;
                height: 2rem;
                width: 50px;
                border-radius: 5px;
                padding: 0 10px;
                font-size: 1rem;
                font-weight: bold;

                -webkit-appearance: textfield;
                -moz-appearance: textfield;
                appearance: textfield;

                &::-webkit-inner-spin-button,
                &::-webkit-outer-spin-button {
                    -webkit-appearance: none;
                }

                &::-webkit-input-placeholder { /* WebKit browsers */
                    color:    #674B42;
                     opacity: 1 !important;
                }
                
                &:-moz-placeholder { /* Firefox 18- */
                    color: #674B42;
                    opacity: 1 !important;
                }
                
                &::-moz-placeholder {  /* Firefox 19+ */
                    color: #674B42;
                    opacity: 1 !important;
                }
                
                &:-ms-input-placeholder {  
                   color: #674B42;
                }
            }
        }

        .add-to-cart-success{
            position: absolute;
            top: 80%;
                a {
                    color: #FB604E;
                    &:hover{
                        color: #8A120F;
                    }
                }
        }

        button{
            span.btn-txt{
                font-size: 1rem;
            }

            &:disabled, &[disabled]{
                color: grey;
                cursor: auto;
                background: linear-gradient(100deg, #8A120F 0%, rgba(251, 96, 78, 0) 100%), #FB604E;
                box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25);

                &:hover{
                    transition: none;
                    color: grey;
                    .span.btn-txt{
                        color: grey;
                    }
                }
            }
        }
    }
}