.pricing-container{
    padding: 5% 0;
    text-align: center;

    @media screen and (min-width: 780px){
        text-align: left;
    }

    .variant-section{
        display: flex;
        padding: 5% 0;
        justify-content: space-evenly;
        align-items: center;

        @media screen and (min-width: 780px){
            justify-content: flex-start;
        }
        
        .variant-option{
            margin: 0 20px 0 0;
            button{

                padding: 10px 20px;
                background: rgb(219, 219, 219);
                box-shadow: none;
                border: 1px solid #674B42;
                margin: 0;
                transition: none;


                .variant-name{
                    color: #674B42;
                }
            }

            .variant-selected{
                background: #FB604E;
                .variant-name{
                    color: white;
                }
            }
        }
    }

    .variant-price-section{
        font-size: 1.5em;
        h2{
            color: #799850 !important;
        }
    }

    .item-quantity{
        display: flex;
        flex-direction: column;
        align-items: center;

        @media screen and (min-width: 780px){
            align-items: flex-start;
        }

        label{
            color: #674B42;
            padding-top: 20px;
            font-weight: bold;
        }

        input{
            margin-top: 10px;
            height: 2rem;
            width: 70px;
            border-radius: 5px;
            padding: 0 10px;
        }

        button{
            //border-radius: 5px;
            padding: 10px 20px;
        }
    }
}