
.shop-bulk{
    background: #146495;
    height: 100%;
    width: 100vw;
    left: calc(-50vw + 50%);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    div{
        margin-top: 2em;
    }
    padding: 0 8%;
}

.bulk-banner-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2{
        text-align: center;
    }
    p{
        margin: 0 auto;
        max-width: 55ch;
        text-align: center;
        color: #C2D6EA;
    }
}

.bulk-banner-img{
    width: 80%;
    min-width: 250px;
}

@media screen and (min-width: 698px){
    .bulk-banner-text{
        align-items: flex-start;

        p, h2{
            width: 80%;
            margin-left: 0;
            text-align: left;
        }
    }

    .bulk-banner-btn{
        margin-bottom: 4em;
    }

    .shop-bulk{
        height: 310px;
        flex-direction: row;
        align-items: flex-end;
        p{
           width: 85%;
           max-width: 65ch;
        }
        div{
            margin-top: 3em;
        }
    }

    .bulk-banner-img{
        height: 100%;
        object-fit: contain;
        overflow: hidden;
        width: 30%;
        min-width: 250px;
    }
}
