
.shop-bulk{
    background: url('../../images/logo-bkgrnd-shop-bulk.svg');
    background-size: cover;
    background-position: center right;
    height: 290px;
    width: 100vw;
    left: calc(-50vw + 50%);
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    p{
        width: 80%;
        text-align: center;
        color: #C2D6EA;

    }
    div{
        margin-top: 3em;
    }
}

@media screen and (min-width: 481px){
    .shop-bulk{
        p{
           width: 85%;
           max-width: 600px;
        }
    }
}
