.navbar{
    min-height: 3.25rem;
    background-color: white;
    position: relative;
    z-index: 30;
    color: #8A120F;
    

    .container-nav {
        display: flex;
        align-items: center;
        min-height: 3.25rem;
        width: 100%;
        margin: 0 auto;
        position: relative;
       
        @media screen and (min-width: 1024px){
            max-width: 980px;
        }

        @media screen and (min-width: 1216px){
            max-width: 1152px;
        }

        @media screen and (min-width: 1408px){
            max-width: 1344px;
        }

        .navbar-burger {
            margin-left: 0;
        }

        .navbar-brand{
            min-height: 5rem;
            position: absolute;
            left: 50%;
            transform: translate(-50%);

            .navbar-item{
                img{
                    max-height: 4rem;
                }
            }

            .navbar-burger{
                height: inherit;
            }
        }

        #navMenu{
            position: absolute;
            left: 0;
            width: 100%;
            background: #728C5B;
            top: 3.5rem;

            @media screen and (min-width: 1024px){
                top: auto;
                background: none;
                width: 28%;
                max-height: 1000px;
            }

            .navbar-links{
                overflow: hidden;
                max-height: 0;
                justify-content: space-between;
                flex-direction: column;
                text-align: center;
                margin: 0;
                

                @media screen and (min-width: 1024px){
                    flex-direction: row;
                    display: flex;
                    max-height: 1000px;
                }

                .navbar-item-link, .navbar-item{
                    line-height: 1.5;
                    position: relative;
                    padding: 2% 1%;
                    color: inherit;
                    height: 5rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
            
                    &:hover{
                        color: #FB604E;
                    }

                    @media screen and (min-width: 1024px){
                        height: inherit;
                    }
                }
            }

            
            &.is-active{
                .navbar-links{
                    display: flex;
                    max-height: 1000px;
                    transition: max-height 900ms ease-out;
                }
            }

            
        }


        .nav-cart{
            position: absolute;
            right: 0;

            .nav-your-cart{
                margin: 0 auto;
                
                .icon{
                    margin: 0 auto;
                    height: 1.5rem;
                    width: 6.5em;
                    display: flex;
                    justify-content: space-between;

                    img{
                        height: 1.2em;
                        display: block;
                        margin-left: 0;
                    }

                    @media screen and (max-width: 1024px){

                        img{
                            margin-left: auto;
                        }

                        .your-cart-text{
                            display: none;
                        }
                    }
                  
                }
            }
        }
    }
}