@import url('https://fonts.googleapis.com/css?family=Montserrat:800|Roboto:500&display=swap');
@import './animate.styles.scss';

body, html{
    overscroll-behavior: none;
    overflow-x: hidden;
}

.testy-boi{
    background: pink;
}

h1, h2, .blog-roll-title {
    color: #FB604E !important;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
}

p, h3{
    font-family: 'Roboto', sans-serif;
    color: #674B42 !important;
}

.navbar, .footer-menu-list{
    font-size: 0.9em;
    font-family: 'Roboto', sans-serif;
}

p{
    font-weight: 400;
    font-size: 1rem !important;
    line-height: 1.75 !important;
}

.content h2{
    font-size: 1.75rem !important;
    font-weight: 700;
}

button{
    display: inline;
    border: none;
    color: white;
    padding: 20px 0;
    // background: #FB604E;
    font-weight: bold;
    font-size: 0.9em;
    margin: 20px 0 30px 0;
    // border-radius: 5px;
    // box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25);
    

    background: linear-gradient(100deg, #8A120F 0%, rgba(251, 96, 78, 0) 100%), #FB604E;
    box-shadow: inset -4px -4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 8px;
    transition: background 500ms ease-in;

    &:hover{
        background: #8A120F;
        box-shadow: inset 4px 4px 4px rgba(0, 0, 0, 0.25);
    }
    a{
        display: inline;
        padding: 20px 50px;
        text-transform: uppercase;
        &:hover{
            color: white;
        }
    }
}

.btn{
    border-bottom: 2px solid #8A120F;
    box-shadow: none;
    border-radius: 0;

    &:hover{
        color: #FB604E;
    }
}


a{
    color: inherit;
    cursor: pointer;
    text-decoration: none;

    a:hover{
        color: #674B42;
    }
}

.main-content{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% 0 0 0;

    .main-content-container{
        //border: 2px solid blue;
        width: 100%;
        margin: 0 8% 12% 8%;
        max-width: 1024px;
        position: relative;

        @media screen and (max-width: 678px){
            text-align: center;
        }
    }
}


