footer.footer{
    // background: linear-gradient(180deg, #79D12C -48.28%, #728C5B 85.84%, #749B51 156.16%, #79D12C 269.47%), #728C5B;
    // background: #85BB56;
    // background: #70B037;
    //background: #7a9e5c;
    // background: #728C5B;
    background: #799850;
    padding: 0 0 3em 0;

    @media screen and (min-width: 468px){
        padding: 0 10% 5em 10%;
    }


    .footer-container{
        .top-footer-section{
            margin-bottom: 8%;
            position: relative;
            display: flex; 
            justify-content: space-between;
            align-items: center;

            @media screen and (max-width: 980px){
                flex-direction: column;
            }

            .footer-social-links-container{
                padding: 1em 2em 2em 2em;
                position: absolute;
                left: 50%;
                transform: translate(-50%);

                @media screen and (max-width: 1190px){
                    position: relative;
                    left: 0;
                    transform: none;
                }

                p{
                    font-size: 1.3em !important;
                    font-weight: bold;
                    color: white !important;
                    letter-spacing: 1px;
                }

                @media screen and (min-width: 980px){
                    align-self: flex-start;
                }

                .footer-social-links{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    a{
                        display: flex; 
                        align-items: center;
                        justify-content: center;
                        border-radius: 3em;
                        width: 2em;
                        height: 2em;
                        background-color: whitesmoke;
                        margin: .5em;

                        &:hover{
                            background-color: #FB604E;
                        }
                    }
                }
            }
         }


        .footer-menu-copyright-container{
            margin-top: 3em;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 980px){
                flex-direction: column;
                align-items: center;
            }

            .footer-menu{
                width: 100%;
                max-width: 800px;
                .footer-menu-list{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid white;
                    li{
                        a{
                            color: white;
                            &:hover{
                                background: transparent;
                                transform: scale(1.04, 1.04);
                            }
                        }
                    }
                }

                @media screen and (max-width: 980px){
                    margin: 2em 0;
                }
            }

            .copyright{
                padding: 0.5rem 0.75rem;
                text-align: center;
                width: 20%;
                min-width: 250px;
                font-size: 0.9em;
                color: rgb(221, 221, 221);

                @media screen and (min-width: 980px){
                    text-align: right;
                }
            }
        }
    }
}

