.footer-form-wrapper{
    padding: 0 0 4rem 0;

    p{
        font-size: 1.3em !important;
        font-weight: bold;
        color: white !important;
        letter-spacing: 1px;
    }

    form{
        input{
            height: 2rem;
            background: transparent;
            border: 0;
            border-bottom: 2px solid white;
            border-left: none;
            border-right: none;
            color: white !important;
            font-size: 1.2rem;

            input::placeholder{
                color: pink !important;
            }
        }
    }
}