.footer-form-wrapper{
    padding: 1em 2em 2em 2em;
    background: #FB604E;
    //margin: 0 0 3rem 0;

    p{
        font-size: 1.3em !important;
        font-weight: bold;
        color: white !important;
        letter-spacing: 1px;
    }

    form{
        input{
            border-radius: 0;
            height: 2rem;
            background: transparent;
            border: 0;
            border-bottom: 2px solid white;
            border-left: none;
            border-right: none;
            color: white !important;
            font-size: 1.2rem;

            &::placeholder{
                color: #f3e1e1 !important;
            }
        }
    }
}