footer.footer{
    background:#728C5B;
    padding: 0 10%;
    padding-bottom: 5em;


    .footer-container{
        border: 1px solid blue;

        .top-footer-section{
            
            position: relative;
            display: flex; 
            justify-content: flex-start;
            align-items: center;

            @media screen and (max-width: 980px){
                flex-direction: column;
            }

            .footer-form{
                width: 100%;
                min-width: 350px;
            }

            .footer-social-links-container{
                p{
                    font-size: 1.2em;
                    font-weight: bold;
                    color: white;
                    letter-spacing: 1px;
                }

                border: 1px solid red;

                @media screen and (min-width: 980px){
                    align-self: flex-start;
                }

                .footer-social-links{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border: 1px solid yellow;
                    a{
                        display: flex; 
                        align-items: center;
                        justify-content: center;
                        border-radius: 3em;
                        width: 2em;
                        height: 2em;
                        background-color: whitesmoke;
                        margin: .5em;
                    }
                }
            }
         }


        .footer-menu-copyright-container{
            margin-top: 3em;
            display: flex;
            justify-content: space-between;

            @media screen and (max-width: 980px){
                flex-direction: column;
                align-items: center;
            }

            .footer-menu{
                width: 100%;
                max-width: 800px;
                .footer-menu-list{
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    border-bottom: 1px solid white;
                    li{
                        a{
                            color: white;
                            &:hover{
                                background: transparent;
                                transform: scale(1.04, 1.04);
                            }
                        }
                    }
                }

                @media screen and (max-width: 980px){
                    margin: 2em 0;
                }
            }

            .copyright{
                padding: 0.5rem 0.75rem;
                text-align: center;
                width: 20%;
                min-width: 150px;
                font-size: 0.9em;
                color: rgb(221, 221, 221);
            }
        }
    }
}

